/* Move down content because we have a fixed navbar that is 50px tall 
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

 Wrapping element 
 Set some basic padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Set widths on the form inputs since otherwise they're 100% wide 
input,
select,
textarea {
    max-width: 280px;
}


 Responsive: Portrait tablets and up 
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../images/background_2.jpg');
    background-size: 100%;
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-size: medium;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.panel-default {
    border-radius: 5px;
    border: 1px solid #000000;
    width: auto;
    height: auto;
    background: rgb(255, 255, 255); /*This is a fallback color in case  the browser doesn't render the below.*/
    background: rgba(255, 255, 255, 0.60);
}

.panel-body {
    padding: 5px;
}
/*.container {
    padding: 15px;
}*/
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    /*max-width: 280px;*/
    border-radius: 5px;
    border: 1px solid #000000;
    width: 40%;
    display: compact;
}
/*This iframe is for youtube embedded videos*/
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

#messageDescription {
    /*border-radius: 0px;*/
    /*border: 1px solid #000000;*/
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    /*display: block;*/
    /*margin-left: auto;
    margin-right: auto;*/
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    text-justify: auto;
    font-size: medium;
}

#messageHead {
    background-color: rgb(211, 208, 162);
    /*border-radius: 0px;*/
    /*border: 1px solid #000000;*/
}

#header {
    /*background-color: #D9D6C9;*/
    background: rgb(255, 255, 255); /*This is a fallback color in case  the browser doesn't render the below.*/
    background: rgba(217, 214, 201, 0.60);
    width: 100%;
    border-bottom: 6px solid black;
    border: 2px solid black;
    border-radius: 5px;
}

#message {
    /*background-color: #F7F7DE;*/
    background: rgb(255, 255, 255); /*This is a fallback color in case  the browser doesn't render the below.*/
    background: rgba(255, 255, 255, 0.60);
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
}
/*To set an avatar for a user:*/
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#remove_button {
    background-color: red;
    max-width: 280px;
    border-radius: 5px;
    border: 1px solid #000000;
    text-align: center;
    font-weight: 600;
}

#terminate_button {
    background-color: orange;
    max-width: 280px;
    border-radius: 5px;
    border: 1px solid #000000;
    text-align: center;
    font-weight: 600;
}

#unlock_button {
    background-color: green;
    max-width: 280px;
    border-radius: 5px;
    border: 1px solid #000000;
    text-align: center;
    font-weight: 600;
}

#table {
    text-align: center;
}

.tableEdit {
    width: 100%;
    /*column-span: all;*/
    table-layout: auto;
    padding-right: 1px;
    padding-left: 1px;
    display: flex;
    align-items: stretch;
}

.firstCell {
    /*width: 20%;*/
    /*column-span:all;*/
    text-align: right;
    padding-left: 1px;
    padding-right: 1px;
    margin: 0;
    padding: 0;
}

.secondCell {
    /*width: 50%;*/
    /*column-span: all;*/
    text-align: left;
    padding-right: 1px;
    padding-left: 1px;
    margin: 0;
    padding: 0;
}

.thirdCell {
    /*width: 20%;*/
    /*column-span: all;*/
    text-align: left;
    padding-left: 1px;
    padding-right: 1px;
    margin: 0;
    padding: 0;
}

.registerTable table {
    border: 1px;
    width: 100%;
    margin: 0 auto;
}
    /** only for the head of the table. */
    .registerTable table thead th {
        padding: 0;
    }

    /** only for the body of the table. */
    .registerTable table tbody td {
        padding: 0;
        white-space: nowrap;
    }



.dropdown-menu {
    border: 2px solid #dadada;
    border-radius: 5px;
    padding: 0;
}

.dropdown-item {
    background-color: #fdfaf2;
    /*max-width: 280px;*/
    /*max-width: 100%;*/
    text-align: center;
    font-weight: 600;
    border: 2px solid #dadada;
    border-radius: 5px;
}

    .dropdown-item:hover {
        background-color: yellow;
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
    }